/* Typography */

@font-face{
    font-family: 'Museo Sans';
    src: url('../fonts/MuseoSans_500-webfont.eot');
    src: url('../fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MuseoSans_500-webfont.woff') format('woff'),
         url('../fonts/MuseoSans_500-webfont.ttf') format('truetype'),
         url('../fonts/MuseoSans_500-webfont.svg#webfont') format('svg');
}

h1, h2, h3, h4, body, .help-block, a {
    font-family: 'Museo Sans', sans-serif;
}

h1, h2, body, .help-block, a {
        color: rgb(255, 250, 250);
}

a {
  border-bottom: 1px solid rgb(255, 250, 250);
}

a:hover {
    color: rgb(206, 201, 197);
    text-decoration: none;
    border-bottom-color: rgb(206, 201, 197);
}

pre {
    font-family: 'Source Code Pro', sans-serif;
}

.tooltip-inner {
    font-size: 150%;
}

body, html, .row, .contentframe {
    height: 100%;
}

.information {
    text-align: center;
}

/* Images */

img {
    margin: auto;
}

.svg {
  width: 62.5%;
}

.form-control:focus {
    border-color: #B0E994;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(176, 233, 148, 1);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(176, 233, 148, 1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(176, 233, 148, 1);
}



.btn, .btn:focus {
    background-color: rgba(176, 233, 148, 1);
    outline: none;
}

.btn:hover {
    background-color: rgba(176, 233, 148, .9);
}

.btn:active {
    background-color: rgba(176, 233, 148, .8);
}

.hidden {
  display: none;
}

.transparent {
    opacity: 0;
}

#document-result-copy {
    position: relative;
    top: -2000px;
}

/* Styling for each section */

.grey {
    background-color: rgb(35, 42, 51);
}

.dark-green {
    background-color: rgb(42, 104, 75);
}

.blue {
    background-color: rgb(63, 165, 169);
}

.light-green {
    background-color: rgb(87, 193, 125);
}

.vertically-centered {
  display: flex;
  justify-content: center;
}

.two-items {
  align-items: center;
}

.one-item {
  flex-direction: column;
}

// .vertically-centered {
//     top: 25%;
//     height: 100%;
// }

// .vertically-centered-hack {
//   top: 10%;
//   height: 100%
// }

/* Animations */

.flashing-highlight {
  -webkit-animation: flashHighlight 1.2s .5s ease-in-out infinite;
     -moz-animation: flashHighlight 1.2s .5s ease-in-out infinite;
       -o-animation: flashHighlight 1.2s .5s ease-in-out infinite;
          animation: flashHighlight 1.2s .5s ease-in-out infinite;
}

@-webkit-keyframes flashHighlight { 0% { background-color: transparent; } 50% { background-color: #B0E994; } 100% { background-color: transparent; } }
   @-moz-keyframes flashHighlight { 0% { background-color: transparent; } 50% { background-color: #B0E994; } 100% { background-color: transparent; } }
     @-o-keyframes flashHighlight { 0% { background-color: transparent; } 50% { background-color: #B0E994; } 100% { background-color: transparent; } }
        @keyframes flashHighlight { 0% { background-color: transparent; } 50% { background-color: #B0E994; } 100% { background-color: transparent; } }

.fade-in {
  -webkit-animation: fadeIn 1.2s .5s forwards;
     -moz-animation: fadeIn 1.2s .5s forwards;
       -o-animation: fadeIn 1.2s .5s forwards;
          animation: fadeIn 1.2s .5s forwards;
}

@-webkit-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
   @-moz-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
     @-o-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }

.fade-out {
  -webkit-animation: fadeOut 1.2s 1.2s forwards;
     -moz-animation: fadeOut 1.2s 1.2s forwards;
       -o-animation: fadeOut 1.2s 1.2s forwards;
          animation: fadeOut 1.2s 1.2s forwards;
}

@-webkit-keyframes fadeOut { 0% { opacity: 1; } 100% { opacity: 0; } }
   @-moz-keyframes fadeOut { 0% { opacity: 1; } 100% { opacity: 0; } }
     @-o-keyframes fadeOut { 0% { opacity: 1; } 100% { opacity: 0; } }
        @keyframes fadeOut { 0% { opacity: 1; } 100% { opacity: 0; } }

.fade-switch {
  -webkit-animation: fadeSwitch .8s;
     -moz-animation: fadeSwitch .8s;
       -o-animation: fadeSwitch .8s;
          animation: fadeSwitch .8s;
}

@-webkit-keyframes fadeSwitch { 0% { opacity: 1; } 50% { opacity: .3; } 100% { opacity: 1; } }
   @-moz-keyframes fadeSwitch { 0% { opacity: 1; } 50% { opacity: .3; } 100% { opacity: 1; } }
     @-o-keyframes fadeSwitch { 0% { opacity: 1; } 50% { opacity: .3; } 100% { opacity: 1; } }
        @keyframes fadeSwitch { 0% { opacity: 1; } 50% { opacity: .3; } 100% { opacity: 1; } }

.shrink-up {
  -webkit-animation: shrinkUp 1.2s 2.4s forwards;
     -moz-animation: shrinkUp 1.2s 2.4s forwards;
       -o-animation: shrinkUp 1.2s 2.4s forwards;
          animation: shrinkUp 1.2s 2.4s forwards;
}

@-webkit-keyframes shrinkUp { 0% { opacity: 1; width: 62.5%; margin-bottom: 0; } 100% { opacity: 0; width: 0; margin-bottom: 100%; } }
   @-moz-keyframes shrinkUp { 0% { opacity: 1; width: 62.5%; margin-bottom: 0; } 100% { opacity: 0; width: 0; margin-bottom: 100%; } }
     @-o-keyframes shrinkUp { 0% { opacity: 1; width: 62.5%; margin-bottom: 0; } 100% { opacity: 0; width: 0; margin-bottom: 100%; } }
        @keyframes shrinkUp { 0% { opacity: 1; width: 62.5%; margin-bottom: 0; } 100% { opacity: 0; width: 0; margin-bottom: 100%; } }

.spin-and-fade-out {
  -webkit-animation: spinAndFadeOut 2.4s 1.2s forwards ease-in;
     -moz-animation: spinAndFadeOut 2.4s 1.2s forwards ease-in;
       -o-animation: spinAndFadeOut 2.4s 1.2s forwards ease-in;
          animation: spinAndFadeOut 2.4s 1.2s forwards ease-in;
}

@-webkit-keyframes spinAndFadeOut { 0% { opacity: 1; } 10% { -webkit-transform: rotate(-.1turn); } 100% { opacity: 0; -webkit-transform: rotate(5turn); } }
   @-moz-keyframes spinAndFadeOut { 0% { opacity: 1; } 10% { -moz-transform: rotate(-.1turn); } 100% { opacity: 0; -moz-transform: rotate(5turn); } }
     @-o-keyframes spinAndFadeOut { 0% { opacity: 1; } 10% { -o-transform: rotate(-.1turn); } 100% { opacity: 0; -o-transform: rotate(5turn); } }
        @keyframes spinAndFadeOut { 0% { opacity: 1; } 10% { transform: rotate(-.1turn); } 100% { opacity: 0; transform: rotate(5turn); } }

.fade-in-and-spin {
  -webkit-animation: fadeInAndSpin 2.4s forwards ease-out;
     -moz-animation: fadeInAndSpin 2.4s forwards ease-out;
       -o-animation: fadeInAndSpin 2.4s forwards ease-out;
          animation: fadeInAndSpin 2.4s forwards ease-out;
}

@-webkit-keyframes fadeInAndSpin { 0% { opacity: 0.05; } 100% { opacity: 1; -webkit-transform: rotate(5turn); } }
   @-moz-keyframes fadeInAndSpin { 0% { opacity: 0.05; } 100% { opacity: 1; -moz-transform: rotate(5turn); } }
     @-o-keyframes fadeInAndSpin { 0% { opacity: 0.05; } 100% { opacity: 1; -o-transform: rotate(5turn); } }
        @keyframes fadeInAndSpin { 0% { opacity: 0.05; } 100% { opacity: 1; transform: rotate(5turn); } }



@-webkit-keyframes blurIn { 0% { } 100% { -webkit-filter: blur(5px); } }
   @-moz-keyframes blurIn { 0% { } 100% { -moz-filter: blur(5px); } }
     @-o-keyframes blurIn { 0% { } 100% { -o-filter: blur(5px); } }
        @keyframes blurIn { 0% { } 100% { filter: blur(5px); } }

.blurred {
  -webkit-filter: blur(5px);
     -moz-filter: blur(5px);
       -o-filter: blur(5px);
          filter: blur(5px);
}

/* Modal */

.modal-content {
  background-color: rgb(35, 42, 51);
  text-align: center;
}

.modal-content a {
  color: rgb(35, 42, 51);
}

.modal-header {
  border-top: none;
  border-bottom: none;
}

.modal-footer {
  border-top: none;
  border-bottom: none;
}

/* Miscellaneous */

iframe {
    border: none;
    height: 100%;
    width: 100%;
}