    <div class="row vertically-centered one-item grey" id="section-1">
        <div class="col-md-4 col-md-offset-4">
            <form id="set-token" role="form">
                <div class="form-group">
                    <label for="box-view-token"><h2 id="section-1-heading">Enter your Box View API key.</h2></label>
                    <input class="form-control input-lg" id="box-view-token" placeholder="Your View API key">
                    <span class="help-block">Don't have one? <a href="http://bit.ly/boxapikey" target="_blank">Click here to get a Box View API key</a>.</span>
                </div>
                <button type="submit" id="token-button" class="btn btn-default btn-lg btn-block transparent">Next Step...</button>
            </form>
        </div>
    </div>