    <div class="row vertically-centered one-item blue" id="section-3">
        <div class="col-md-6 col-md-offset-3 information">
            <!-- Designed by Prerak Patel from The Noun Project http://thenounproject.com/noun/document/#icon-No4561 -->
            <img id="doc-svg" src="{{ url_for('static', filename='img/document.svg') }}" class="img-responsive svg" alt="Document">
            <!-- HTML Code icon Iris Li from The Noun Project http://thenounproject.com/noun/html-code/#icon-No13694 -->
            <img id="html-svg" src="{{ url_for('static', filename='img/embed.svg') }}" class="img-responsive svg transparent hidden" alt="HTML Symbol">
            <h2 id="session-prompt">And now we magically turn the document into HTML5!</h2>
        </div>
    </div>