    <div class="row vertically-centered one-item grey" id="section-1">
        <div class="col-md-6 col-md-offset-3 information">
            <h1 id="welcome" class="transparent">Box View enables the most elegant content experiences on web and mobile with the world's best HTML5 document embedding technology</h1>
            <iframe class="three-dee-doc" src="//s3-us-west-2.amazonaws.com/demos.boxviewapi.com/3d.html" seamless=""></iframe>
            <p id="motivation" class="lead transparent">Convert your first document in less than a minute</p>
            <br>
            <button id="get-started" class="btn btn-default btn-lg transparent">Get Started</button>
        </div>
    </div>
