<!doctype html>
<html lang="en">
<head>
<meta class="section-anchor" name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script type="text/javascript">
  var analytics=analytics||[];(function(){var e=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group"],t=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var n=0;n<e.length;n++)analytics[e[n]]=t(e[n])})(),analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)};
  analytics.load("q89wwz6azr");
</script>
<script type="text/javascript" src="//use.typekit.net/vxd0vjj.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
<!-- Get Started Section -->
    <div class="row vertically-centered one-item grey" id="section-1">
        <div class="col-md-6 col-md-offset-3 information">
            <h1 id="welcome" class="transparent dark">Box View is the world's most advanced document conversion platform</h1>
            <img id="crocobox" src="{{ url_for('static', filename='img/crocobox.png') }}" class="img-responsive transparent" alt="Crocobox Logo">
            <p id="motivation" class="lead transparent dark">Convert your first document in less than a minute</p>
            <br>
            <button id="get-started" class="btn btn-default btn-lg transparent">Get Started</button>
        </div>
    </div>

<!-- API Key Entry Section -->
    <div class="row vertically-centered one-item grey light" id="section-1">
        <div class="col-md-4 col-md-offset-4">
            <form id="set-token" role="form">
                <div class="form-group">
                    <label for="box-view-token"><h2 id="section-1-heading" class="dark">Enter your Box View API key</h2></label>
                    <input class="form-control input-lg" id="box-view-token" placeholder="Your View API key">
                    <span class="help-block dark">Don't have one? <a href="http://bit.ly/boxapikey" class="dark" target="_blank">Click here to get a Box View API key</a></span>
                </div>
                <button type="submit" id="token-button" class="btn btn-default btn-lg btn-block transparent">Next Step...</button>
            </form>
        </div>
    </div>

<!-- Upload Animation -->
    <div class="row vertically-centered one-item dark-green" id="section-2">
        <div class="col-md-6 col-md-offset-3 information">
            <!-- Cloud Upload icon designed by Adam Whitcroft from The Noun Project http://thenounproject.com/noun/cloud-upload/#icon-No2633 -->
            <img id="upload-svg" src="{{ url_for('static', filename='img/upload.svg') }}" class="img-responsive svg" alt="Upload Cloud">
            <h2 id="upload-prompt">First you need to upload a document to convert</h2>
        </div>
    </div>

<!-- Document Upload Section -->
    <div class="row vertically-centered two-items dark-green" id="section-2">
        <div class="col-md-3 col-md-offset-1">
            <form id="convert-document" role="form">
                <div class="form-group">
                    <label for="document-url"><h2>Enter the URL of a PDF or Office document to convert.</h2></label>
                    <input type="url" class="form-control input-lg" id="document-url" placeholder="URL ending in .pdf, .doc(x), .ppt(x), or .xls(x)">
                    <span class="help-block"><a href="" id="url-help">Help! Fill one in for me!</a></span>
                </div>
                <button type="submit" id="convert-button" class="btn btn-default btn-lg btn-block transparent">Convert Document</button>
            </form>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <pre class="transparent" data-toggle="tooltip" data-delay="1300" data-placement="top" title="The API request" id="convert-code">curl https://view-api.box.com/1/documents \
-H "Authorization: Token YOUR_API_KEY" \
-H "Content-Type: application/json" \
-d '{"url": "https://cloud.box.com/shared/static/4qhegqxubg8ox0uj5ys8.pdf"}' \
-X POST</pre>
            <pre class="transparent" data-toggle="tooltip" data-delay="1300" data-placement="bottom" title="The response from the API" id="convert-result">{
    "type": "document",
    "id": "2da6cf9261824fb0a4fe532f94d14625",
    "status": "done",
    "name": "My First Doc",
    "created_at": "2013-08-30T00:17:37Z",
    "modified_at": "2013-08-30T00:17:37Z"
}</pre>
        </div>
    </div>
<!-- Conversion Animation -->
    <div class="row vertically-centered one-item blue" id="section-3">
        <div class="col-md-6 col-md-offset-3 information">
            <!-- Designed by Prerak Patel from The Noun Project http://thenounproject.com/noun/document/#icon-No4561 -->
            <img id="doc-svg" src="{{ url_for('static', filename='img/document.svg') }}" class="img-responsive svg" alt="Document">
            <!-- HTML Code icon Iris Li from The Noun Project http://thenounproject.com/noun/html-code/#icon-No13694 -->
            <img id="html-svg" src="{{ url_for('static', filename='img/embed.svg') }}" class="img-responsive svg transparent hidden" alt="HTML Symbol">
            <h2 id="session-prompt">And now we magically turn the document into HTML5!</h2>
        </div>
    </div>
<!-- Session Create Section -->
    <div class="row vertically-centered two-items blue" id="section-3">
        <div class="col-md-3 col-md-offset-1">
            <form id="create-session" role="form">
                <div class="form-group">
                    <label for="document-url"><h2>Enter the id of the document to create a viewing session.</h2></label>
                    <input class="form-control input-lg" id="document-id" placeholder="The document id">
                    <span id="document-id-help" class="help-block hidden"></span>
                </div>
                <button type="submit" id="session-button" class="btn btn-default btn-lg btn-block transparent">Create Session</button>
            </form>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <pre class="transparent" data-toggle="tooltip" data-delay="1300" data-placement="bottom" title="The response from the API" id="document-result-copy">{
    "type": "document",
    "id": "2da6cf9261824fb0a4fe532f94d14625",
    "status": "done",
    "name": "My First Doc",
    "created_at": "2013-08-30T00:17:37Z",
    "modified_at": "2013-08-30T00:17:37Z"
}</pre>
            <pre class="transparent" data-toggle="tooltip" data-delay="1300" data-placement="top" title="The API request" id="session-code">curl https://view-api.box.com/1/sessions \
-H "Authorization: Token YOUR_API_KEY" \
-H "Content-Type: application/json" \
-d '{"document_id": "ABC123"}' \
-X POST</pre>
            <pre class="transparent" data-toggle="tooltip" data-delay="1300" data-placement="bottom" title="The response from the API" id="session-result">{
    "type": "session",
    "id": "IyA4Ij8IzE_Wih20hML3ihxEOul1T4rxHLBtwa4IRg9m-FApz80OtEwst_RmnGq8SzJRsGaEU0UWSotJCW33KUeJ0Ah5uQ",
    "expires_at": "2013-09-11T19:52:09Z"
}</pre>
        </div>
    </div>
<!-- Suuccess Section -->
    <div class="row vertically-centered two-items light-green" id="section-4">
        <div class="col-md-3 col-md-offset-1">
            <h1>Congratulations, you converted your first document!</h1>
            </div>
        <div class="col-xs-8 contentframe">
            <iframe class="transparent large-iframe" data-toggle="tooltip" data-delay="1300" data-placement="left" title="Try scrolling this!" seamless=""></iframe>
        </div>
    </div>

<!-- Error Modal -->
    <div class="modal fade" id="fail-modal" tabindex="-1" role="dialog" aria-labelledby="fail-model" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Oh no, something went wrong!</h3>
                </div>
                <div class="modal-body">
                    <img id="fail" src="{{ url_for('static', filename='img/fail.gif') }}" class="img-rounded img-responsive" alt="Fail Dog">
                </div>
                <div class="modal-footer">
                    <a href="." type="button" class="btn btn-lg btn-block">Start Over?</a>
                </div>
            </div>
        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="{{  url_for('static', filename='js/animations-min.js') }}"></script>
</body>
</html>
