    <div class="row vertically-centered two-items light-green" id="section-4">
        <div class="col-md-3 col-md-offset-1">
            <h1 class="dark"><strong>Congratulations</strong>, you converted your first document!</h1>
            <br>
            <a href="http://developers.box.com/view/" type="button" class="btn btn-lg btn-default btn-block">Click Here to Read the Docs!</a>
        </div>
        <div class="col-xs-8 contentframe">
            <iframe id="success-iframe" class="transparent large-iframe" data-toggle="tooltip" data-delay="1300" data-placement="left" title="Try scrolling this!" seamless=""></iframe>
        </div>
    </div>
