    <div class="row vertically-centered one-item dark-green" id="section-2">
        <div class="col-md-6 col-md-offset-3 information">
            <!-- Cloud Upload icon designed by Adam Whitcroft from The Noun Project http://thenounproject.com/noun/cloud-upload/#icon-No2633 -->
            <img id="upload-svg" src="{{ url_for('static', filename='img/upload.svg') }}" class="img-responsive svg" alt="Upload Cloud">
            <h2 id="upload-prompt">First you need to upload a document to convert!</h2>
        </div>
    </div>